
:root {
    --green: rgba(4, 191, 173, 1);
    --cinder: rgba(19, 19, 19, 1);
    --white: rgba(255, 255, 255, 1);
    --back: rgba(14, 15, 19, 1);
    
    --font-xxxs: 10px;
    --font-xxs: 12px;
    --font-xs: 14px;
    --font-s: 18px;
    --font-m: 19px;
    --font-ml: 25px;
    --font-l: 33px;
    --font-xl: 53px; 
}

body {
    margin: 0px;
}

*{font-family:"Work Sans";}

img {
    max-width: 100%;
}

@media only screen and (min-width: 1080px) {

    .mark-home svg {
        width: 80px;
        height: 80px;
    }
    .main-home {
        max-width: 948px;
        line-height: 60px;
        text-align: center;
        display: inline-block;
        /* margin-bottom: 40px; */
    }

    
    .swap {
        position: absolute;
        left: 50%;
        top: -10px;
        z-index: 0;
        animation-duration: 4000ms;
        animation-iteration-count: infinite;
        animation-timing-function: ease;
    }

    #swap-facebook {
        animation-name: facebook-animation;
    }

    @keyframes facebook-animation {
        0% { top:120px; visibility: visible;}
        15% { top:120px; visibility: visible;}
        30% { top:0px; visibility: hidden;}
        90% { top:0px; visibility: hidden;}

        100% {top:120px; visibility: visible;}
    }

    #swap-instagram {
        animation-name: instagram-animation;
    }
    @keyframes instagram-animation {
        0% { top:180px;visibility: hidden;}
        15% {top:180px;visibility: hidden;}
        30% {top:120px;visibility: visible;}
        45% {top:120px;visibility: visible;}
        60% {top:0px;visibility: visible;}
        70% {top:0px;visibility: hidden;}
        100% {top:180px;visibility: hidden;}   
    }



    #swap-google {
        animation-name: google-animation;
    }
    @keyframes google-animation {
        0% { top:240px;visibility: hidden;}
        30% {top:180px;visibility: hidden;}
        45% {top:180px;visibility: hidden;}
        60% {top:120px;visibility: visible;}
        75% {top:120px;visibility: visible;}
        90% {top:120px;visibility: visible;}   
        100% {top:180px;visibility: hidden;}   
    }

    .down-box {
        background: var(--back);
        z-index: 200;
        position: inherit;
        height: 40px;
        width: 70%;
        left: 15%;
        margin-top: 5px;
    }

    
    .mark-home {
        padding: 20px;
        margin-bottom: 88px;
    }
    .page-home {
        text-align: center;
        background-color: var(--back);
    }

    .main-home-title {
        font-weight: bold;
        color: var(--white);
        font-size: var(--font-xl);
        position: relative;
        margin-bottom: 0px;
        /* background: var(--back); */
    }

    .main-title {
        z-index: 200;
        position: inherit;
        background: var(--back);
        line-height: 60px;
    }


    .under-blue {
        background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 60%, var(--green) 33%, var(--green) 100%);
    }


    .subtitle-home {
        line-height: 29px;
        text-align: center;
        display: inline-block;
        max-width: 562px;
        color: var(--white);
        font-size: var(--font-m);
        font-weight: 400;
        font-style: normal;
        position: relative;
        background: var(--back);
        z-index: 200;
        border: 40px solid var(--back);
        box-sizing: content-box;
        border-bottom: 0px;
    }

    .arrow-home {
        margin-top: 40px;   
        margin-bottom: 426px;
        position: relative;
        padding-right: 37px;
    }

    .arrow-svg {
        position: absolute;
        animation-name: arrow-animation;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: linear;
    }
    @keyframes arrow-animation {
        from { top:0px;}
        to {top:20px;}
    }



    .page-dive {
        height: 38px;
        margin-bottom: 140px; 
    }

    .page-business {
        padding: 30px;
    }

    .price-title {
        font-weight: bold;
        font-size: var(--font-xl);
        line-height: 60px;
        text-align: center;
        color: var(--green);
        margin-bottom: 10px;
    }

    .price-list {
        /* margin-left: 0px !important; */
        max-width: 700px;
    }
    .price-description {
        font-weight: bold;
        font-size: 19px;
        line-height: 29px;
        text-align: center;
        color: var(--back);
        margin-bottom: 30px;

    }


    .price-section {
        padding-bottom: 173px;
    }
    .price-block {
        padding-left: 80px;
        /* padding-right: 40px; */
        float: right;
    }

    .price-field {
        font-style: normal;
        font-weight: bold;
        background: var(--back);
        box-sizing: border-box;
        border: 7.5px solid transparent;
        background-clip:padding-box;
        padding: 30px 30px 30px 30px !important;
        /* max-width: 292px; */
    }

    .price-item-title {
        line-height: 29px;
        color: var(--white);
        font-size: var(--font-m);
        margin-bottom: 10px;
    }

    .price-item-value {
        font-size: var(--font-l);
        line-height: 40px;
        color: var(--green);
    }

    .business-part {
        padding-left: 10%;
    }
    .business-outcome-title-1 {
        font-style: normal;
        font-weight: 700;
        font-size: var(--font-l);
        line-height: 40px;
        color: var(--back);
        margin-bottom: 10px;
    }

    .business-outcome-title-2 {
        font-style: normal;
        font-weight: bold;
        font-size: var(--font-l);
        line-height: 40px;
        color: var(--back);
        margin-bottom: 20px;
    }

    .business-outcome-content {
        font-style: normal;
        font-size: var(--font-m);
        line-height: 29px;
        color: var(--back);
        max-width: 465px;
        margin-bottom: 30px;
    }

    .schedule-call {
        box-sizing: border-box;
        border: 4px solid #0E0F13;
        max-width: 378px;
        padding: 22px;
        color: var(--back);
        transition: background-color 100ms ease-out 100ms

    }

    .schedule-call:hover {
        max-width: 378px;
        padding: 22px;
        background: var(--green);
        color: var(--white);
        border: 4px solid var(--green);
    }

    .schedule-title {
        font-weight: bold;
        font-size: var(--font-s);
        line-height: 20px;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.01em;
        margin-bottom: 5px;
    }

    .schedule-content {
        font-style: normal;
        font-size: var(--font-xs);
        line-height: 20px;
        text-align: center;
        letter-spacing: 0.01em;
        text-transform: uppercase;
        color: #979DA6;
    }

    .page-matters {
        background: var(--cinder);
        padding: 30px;
    }

    .matter-board {
        padding-bottom: 230px;
    }
    .matter-section {
        float: right;
        /* padding-left: 155px; */
        padding-right: 10%;
    }
    .matter-title {
        margin-top: 232px;

        font-weight: bold;
        font-size: var(--font-l);;
        line-height: 40px;
        color: var(--white);
        margin-bottom: 20px;
    }

    .matter-content {
        font-size: var(--font-m);
        line-height: 29px;
        color: var(--white);
        margin-bottom: 30px;
        max-width: 465px;
    }

    .schedule-call-white {
        box-sizing: border-box;
        border: 4px solid var(--white);
        max-width: 390px;
        padding: 22px;
        color: var(--white);
        transition: background-color 100ms ease-out 100ms
    }

    .schedule-call-white:hover {
        max-width: 390px;
        padding: 22px;
        background: var(--green);
        color: var(--white);
        border: 4px solid var(--green);
    }

    .matter-picture {
        margin-top: 232px;
        padding-left: 3%;
    }

    .page-clients {
        background: var(--white);
        text-align: center;
        margin-top: 140px;
    }
    .client-image {
        float: center;

    }
    .client-title {
        font-weight: bold;
        font-size: var(--font-xl);
        line-height: 60px;
        color: var(--back);
        max-width: 900px;
        display: inline-block;
        margin-bottom: 88px;
    }

    .client-list {
        margin-bottom: 140px;
    }

    .meet-jacob {
        padding-left: 100px;
        padding-right: 30px;
        text-align: left;
        margin-bottom: 150px;
    }

    .meet-title {
        margin-top: 60px;
        font-weight: bold;
        font-size: var(--font-l);
        line-height: 40px;
        color: var(--back);
        margin-bottom: 10px;
    }

    .meet-free {
        font-weight: bold;
        font-size: var(--font-m);
        line-height: 29px;
        color: var(--green);
        margin-bottom: 20px;
    }

    .meet-part {
        padding-right: 5%;
        padding-left: 50px;
    }
    .meet-ask {
        font-size: var(--font-m);
        line-height: 29px;
        color: var(--back);
        margin-bottom: 20px;
    }

    .meet-list {
        display: inline-flex;
        margin-bottom: 20px;
        /* max-width: 446px; */
    }

    .meet-content {
        font-size: var(--font-m);
        line-height: 29px;
        color: var(--back);
        padding-left: 20px;
        max-width: 446px;
    }

    .footer {
        background: url('../img/footer.png');
        text-align: center;
        color: var(--white);
        
    }

    .question {
        padding-top: 150px;
        font-weight: bold;
        font-size: var(--font-xl);
        line-height: 60px;
        margin-bottom: 30px;
    }

    .contact {
        font-size: var(--font-m);
        line-height: 29px;
        max-width: 757px;
        margin: auto;
        margin-bottom: 40px;

    }

    .copyright {
        font-size: var(--font-xxs);
        left: 341px;
        line-height: 18px;
        color: var(--white);
        opacity: 0.3;
        padding-bottom: 30px;
    }

    .footer-schedule{
        margin-bottom: 160px;
    }
    .client-list {
        padding-left: 150px;
        padding-right: 150px;
    }

    
    .company-logo img {
        max-height: 100px;
        max-width: 150px;
        height: 100%;
    }



}

@media only screen and (min-width: 1400px) {
    #carousel {
        display: none;
    }

    #company-logos {
        display: flex;
    }
}

@media only screen and (max-width: 1400px) {
    #company-logos {
        display: none;
    }

    #carousel {
        display: block;
    }

    .carousel-control-prev-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%40ff0000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
    }
    
    .carousel-control-next-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%40ff0000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
    }

    .carousel-indicators {
        bottom: -30px !important;
    }
    .carousel-indicators .active {
        background-color: grey !important;
    }
    .carousel-indicators [data-bs-target] {
        background-color: #000000 !important;
    }
}


@media only screen and (max-width: 1080px) {

    .mark-home svg {
        width: 50px;
        height: 50px;
    }
    .main-home {
        width: 370px;
        line-height: 60px;
        text-align: center;
        display: inline-block;
    }

    .swap {
        position: absolute;
        left: 52%;
        top: -10px;
        z-index: 0;
        animation-duration: 4000ms;
        animation-iteration-count: infinite;
        animation-timing-function: ease;
    }

    #swap-facebook {
        animation-name: facebook-animation;
    }

    @keyframes facebook-animation {
        0% { top:55px; visibility: visible;}
        15% { top:55px; visibility: visible;}
        30% { top:0px; visibility: hidden;}
        90% { top:0px; visibility: hidden;}
        100% {top:55px; visibility: visible;}
    }
    #swap-instagram {
        animation-name: instagram-animation;
    }
    @keyframes instagram-animation {
        0% { top:70px;visibility: hidden;}
        15% {top:70px;visibility: hidden;}
        30% {top:55px;visibility: visible;}
        45% {top:55px;visibility: visible;}
        60% {top:0px;visibility: visible;}
        70% {top:0px;visibility: hidden;}
        100% {top:70px;visibility: hidden;}   
    }



    #swap-google {
        animation-name: google-animation;
    }
    @keyframes google-animation {
        0% { top:90px;visibility: hidden;}
        30% {top:70px;visibility: hidden;}
        45% {top:70px;visibility: hidden;}
        60% {top:55px;visibility: visible;}
        75% {top:55px;visibility: visible;}
        90% {top:55px;visibility: visible;}
        100% {top:90px;visibility: hidden;}   
    }
    
    .down-box {
        background: var(--back);
        z-index: 200;
        position: inherit;
        height: 40px;
        width: 80%;
        left: 10%;
        margin-top: 10px;
    }
    
    .mark-home {
        padding: 20px;
        margin-bottom: 48px;
    }
    .page-home {
        text-align: center;
        background-color: var(--back);
    }

    .main-home-title {
        font-weight: bold;
        color: var(--white);
        font-size: var(--font-m);
        line-height: 29px;
        position: relative;
    }

    .main-title {
        z-index: 200;
        position: inherit;
        background: var(--back);
    }


    .under-blue {
        background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 60%, var(--green) 33%, var(--green) 100%);
    }


    .subtitle-home {
        line-height: 20px;
        text-align: center;
        display: inline-block;
        max-width: 362px;
        color: var(--white);
        font-size: var(--font-xs);
        font-weight: 400;
        font-style: normal;
        padding-left: 20px;
        padding-right: 20px;
        z-index: 200;
        background: var(--back);
        position: relative;
    }

    .arrow-home {
        margin-top: 40px;   
        margin-bottom: 260px;
        margin-right: 11px;
        position: relative;
        text-align: center;
        
    }

    .arrow-svg {
        width: 30px;
        position: absolute;
        animation-name: arrow-animation;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: linear;
    }
    @keyframes arrow-animation {
        from { top:0px;}
        to {top:20px;}
    }



    .page-dive {
        height: 38px;
        margin-bottom: 70px; 
    }

    .page-business {
        padding: 20px;
    }

    .price-title {
        font-weight: bold;
        font-size: var(--font-l);
        line-height: 40px;
        text-align: center;
        color: var(--green);
        margin-bottom: 30px;
    }

    .price-description {
        font-weight: bold;
        font-size: var(--font-s);
        line-height: 20px;
        text-align: center;
        color: var(--back);

    }


    .price-section {
        padding-bottom: 43px;
    }
    .price-block {
        text-align: center;
        margin-bottom: 40px;
    }

    .price-list{
        padding: 30px;
    }

    .price-field {
        padding: 15px 15px 15px 15px;
        font-style: normal;
        font-weight: bold;
        background: var(--back);
        box-sizing: border-box;
        border: 7.5px solid transparent;
        background-clip:padding-box;
    }

    .price-item-title {
        line-height: 20px;
        color: var(--white);
        font-size: var(--font-s);
        margin-bottom: 10px;
    }

    .price-item-value {
        font-size: var(--font-m);
        line-height: 29px;
        color: var(--green);
    }

    .business-part {
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
        
    }
    .business-outcome-title-1 {
        font-style: normal;
        font-weight: 700;
        font-size: var(--font-ml);
        line-height: 32px;
        color: var(--back);
        margin-bottom: 30px;
    }

    .business-outcome-title-2 {
        font-style: normal;
        font-weight: bold;
        font-size: var(--font-m);
        line-height: 29px;
        color: var(--back);
        margin-bottom: 40px;
    }

    .business-outcome-content {
        font-style: normal;
        font-size: var(--font-s);
        line-height: 20px;
        color: var(--back);
        max-width: 465px;
        margin-bottom: 50px;
    }

    .schedule-call {
        box-sizing: border-box;
        border: 4px solid #0E0F13;
        max-width: 200px;
        padding: 12px;
        color: var(--back);
        transition: background-color 100ms ease-out 100ms;
        margin: auto;
    }

    .schedule-call:hover {
        padding: 12px;
        background: var(--green);
        color: var(--white);
        border: 4px solid var(--green);
    }

    .schedule-title {
        font-weight: bold;
        font-size: var(--font-xs);
        line-height: 20px;
        text-align: center;
        letter-spacing: 0.01em;
        text-transform: uppercase;
        letter-spacing: 0.01em;
        margin-bottom: 5px;
    }

    .schedule-content {
        font-style: normal;
        font-size: var(--font-xxs);
        line-height: 18px;
        text-align: center;
        letter-spacing: 0.01em;
        text-transform: uppercase;
        color: #979DA6;
    }

    .page-matters {
        background: var(--cinder);
        padding: 20px;
    }

    .matter-board {
        margin-bottom: 80px;
    }
    .matter-section {
        text-align: center;
    }
    .matter-title {

        font-weight: bold;
        font-size: var(--font-ml);;
        line-height: 32px;
        color: var(--white);
        margin-bottom: 60px;
        padding-top: 60px;
    }

    .matter-content {
        text-align: center;

        font-size: var(--font-xs);
        line-height: 20px;
        color: var(--white);
        max-width: 365px;
        margin: auto;
        margin-bottom: 60px;
    }

    .schedule-call-white {
        box-sizing: border-box;
        border: 4px solid var(--white);
        max-width: 200px;
        padding: 12px;
        color: var(--white);
        transition: background-color 100ms ease-out 100ms;
        margin: auto;
    }

    .schedule-call-white:hover {
        background: var(--green);
        color: var(--white);
        border: 4px solid var(--green);
    }

    .matter-picture {
        text-align: center;
        margin: auto;
        margin-top: 92px;
    }

    .page-clients {
        background: var(--white);
        text-align: center;
        margin-top:70px;
    }

    .client-title {
        font-weight: bold;
        font-size: var(--font-ml);
        line-height: 32px;
        color: var(--back);
        max-width: 900px;
        display: inline-block;
        margin-bottom: 58px;
    }

    .client-list {
        margin-bottom: 70px;
    }

    .meet-jacob {
        padding-left: 30px;
        padding-right: 30px;
        text-align: left;
        margin-bottom: 70px;
    }

    .meet-title {
        margin-top: 20px;
        font-weight: bold;
        font-size: var(--font-m);
        line-height: 29px;
        color: var(--back);
        margin-bottom: 10px;
    }

    .meet-free {
        font-weight: bold;
        font-size: var(--font-xs);
        line-height: 20px;
        color: var(--green);
        margin-bottom: 20px;
    }

    .meet-part {
        padding: 30px;
        margin: auto;
    }
    .meet-ask {
        font-size: var(--font-xs);
        line-height: 20px;
        color: var(--back);
        margin-bottom: 20px;
    }

    .meet-list {
        display: inline-flex;
        margin-bottom: 20px;
    }

    .meet-content {
        font-size: var(--font-xs);
        line-height: 20px;
        color: var(--back);
        padding-left: 10px;
        max-width: 446px;
    }

    .footer {
        background: url('../img/footer.png');
        text-align: center;
        color: var(--white);
        padding: 30px;
    }

    .question {
        padding-top: 55px;
        font-weight: bold;
        font-size: var(--font-l);
        line-height: 40px;
        margin-bottom: 50px;
    }

    .contact {
        font-size: var(--font-s);
        line-height: 20px;
        margin: auto;
        margin-bottom: 80px;
        max-width: 407px;
    }

    .copyright {
        font-size: var(--font-xxs);
        left: 341px;
        line-height: 18px;
        color: var(--white);
        opacity: 0.3;
        padding-bottom: 30px;
    }

    .footer-schedule{
        margin-bottom: 160px;
    }

    .client-list {
        padding: 20px;
    }
    
    .client-list img {
        height: 50px;
    }

    .company-logo img {
        height: 100px;
        max-width: 150px;
    }


    

}

.schedule-link {
    text-decoration: none;
}


.company-logo  {
    margin-bottom: 20px;
    height: 100px;
}

.santivia {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    margin-bottom: 20px;

}

.santivia img {
    max-width: 160px;
}

    